<div class="years-scroller">
  <div class="item" *ngFor="let year of timeline.years; let index = index"
       (click)="scrollToYear(index)"
  >{{ year | date:'y' }}</div>
  <div class="brackets" [style.transform]="'translateX(' + (activeYearIndex * 43) + 'px)'">
    <div></div>
    <div></div>
  </div>
</div>
<div class="timeline-header" [style.width]="timeline.years.length * 100 + '%'">
  <div class="years">
    <div class="year" *ngFor="let year of timeline.years" [style.width]="100 / timeline.years.length + '%'" #yearsRef>{{ year | date:'y' }}</div>
  </div>

  <div class="months">
    <div class="month" *ngFor="let month of timeline.months">{{ month | date:'MMM' }}</div>
  </div>
</div>

<div class="timeline-main" [style.width]="timeline.years.length * 100 + '%'">

  <div class="phases" appPhases [timeline]="timeline">
    <div class="phase" *ngFor="let phase of timeline.phases" [style.backgroundColor]="phase.color">{{ phase.name }}</div>
  </div>

  <div class="mouser-tracker-wrapper">
    <div class="mouse-tracker" appMouseTracker [timeline]="timeline">
      <span class="tracker-text"></span>
      <div class="tracker-line" [style.height]="weeksWrapperRef.offsetHeight - 40 + 'px'"></div>
    </div>
  </div>

  <div class="months" [style.height]="weeksWrapperRef.offsetHeight + 'px'">
    <div class="month empty-month" *ngFor="let month of timeline.months"></div>

    <div class="weeks-wrapper" #weeksWrapperRef>
      <div class="weeks"
           *ngFor="let record of timeline.records"
           (cdkDropListDropped)="onRecordDrop($event, record)"
           #weeksRef
           cdkDropList
           cdkDropListOrientation="horizontal"
      >

        <ng-container *ngFor="let weekOrActiveWeeks of record.weeks">
          <div class="active-weeks"
               *ngIf="isArray(weekOrActiveWeeks); else dummyWeek"
               (click)="selectRecord(record)"
               cdkDragLockAxis="x"
               cdkDrag
          >
            <div class="record-main-data">
              <i class="record-icon"
                 [ngClass]="{
                  'icon-bar-chart-2-special opportunity-icon': record.type === recordTypes.Opportunity,
                  'icon-archive-box-special solution-icon' : record.type === recordTypes.Solution
                 }"
              ></i>
              <span class="record-title" [style.maxWidth]="weekWidth * weekOrActiveWeeks.length - 39 + 'px'">{{ record.title }}</span>

              <div class="record-information">
                <i class="info-icon icon-info-information-2"></i>
                <div class="record-tooltip"
                     #recordTooltip
                     [style.left]="(recordTooltip.getBoundingClientRect().left < 280 ? -20 : -recordTooltip.offsetWidth / 2 + 10) + 'px'"
                >
                  <p class="tooltip-title">{{ record.title }}</p>
                  <p class="tooltip-data"><span class="tooltip-data-key">Duration:</span> {{ timeline.getRecordDuration(record) }} weeks | {{ record.startDate | date:'MMM d' }} - {{ timeline.getRecordEndDate(record) | date:'MMM d' }}</p>
                  <p class="tooltip-data"><span class="tooltip-data-key">Teams:</span> {{ timeline.getRecordTeams(record).join(', ') }}</p>
                  <p class="tooltip-data" *ngIf="timeline.filters.userDefinedFilter?.id"><span class="tooltip-data-key">{{ timeline.filters.userDefinedFilter.name | titlecase }}:</span> {{ timeline.getRecordUserDefinedParameterOptions(record).join(', ') }}</p>
                  <p class="tooltip-data"><span class="tooltip-data-key">Phase:</span> {{ timeline.getRecordPhase(record) }}</p>
                </div>
              </div>
            </div>

            <div class="week"
                 *ngFor="let activeWeek of weekOrActiveWeeks"
                 [style.width]="weekWidth + 'px'"
                 [ngClass]="{
                  'opportunity-week': activeWeek.type === 'opportunity',
                  'prepare-week': activeWeek.type === 'prepare',
                  'build-week': activeWeek.type === 'build',
                  'deploy-week': activeWeek.type === 'deploy',
                  'gap-week': activeWeek.type === 'gap'
               }"
            ></div>
            <ng-container *cdkDragPreview></ng-container>
          </div>

          <ng-template #dummyWeek>
            <div class="week dummy-week"
                 [style.width]="weekWidth + 'px'"
                 cdkDrag
                 cdkDragDisabled
            ></div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>

</div>
