@import "src/styles/variables";
@import "src/styles/mixins";

:host {
  display: block;
  background-color: white;
  width: calc(100% - 30px);
}

.timeline-header {
  position: sticky;
  top: 0;
  padding-left: 30px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  background-color: white;
  z-index: 3;
}

.timeline-main {
  position: relative;
  margin-left: 30px;
  background-color: white;
}

.mouser-tracker-wrapper {
  position: sticky;
  top: 70px;
  z-index: 3;

  .mouse-tracker {
    position: absolute;
    top: 23px;
    padding: 2px 0;
    width: 48px;
    height: 17px;
    text-align: center;
    background-color: color(blue);
    border-radius: 3px;
    box-sizing: border-box;
    color: color(white);
    font-size: 11px;

    .tracker-line {
      position: absolute;
      left: 24px;
      top: 17px;
      width: 1px;
      background-color: color(blue);
      pointer-events: none;
    }
  }
}

.years-scroller {
  display: flex;
  position: fixed;
  top: 118px;
  right: 14px;
  z-index: 4;
  background: #fff;

  .item {
    font-size: 10px;
    line-height: 14px;
    padding: 4px 0;
    text-align: center;
    width: 42px;
    background-color: #96969629;
    border: 1px solid #BDBDBD;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &:not(:nth-last-child(2)) {
      border-right-width: 0;
    }

    &:hover {
      background-color: rgba(150, 150, 150, 0.6);
    }
  }

  .brackets {
    position: absolute;
    width: 44px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    transition: transform 0.15s ease-in-out;

    div {
      width: 5px;
      border-top: 2px solid #00A3E0;
      border-bottom: 2px solid #00A3E0;
    }

    div:first-child {
      border-left: 2px solid #00A3E0;
      position: relative;

      &::after {
        position: absolute;
        top: 4px;
        left: -10px;
        display: block;
        content: '';
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #00A3E0;
      }
    }

    div:last-child {
      border-right: 2px solid #00A3E0;

      &::after {
        position: absolute;
        top: 6px;
        right: -9px;
        display: block;
        content: '';
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #00A3E0;
      }
    }
  }
}

.years {
  padding: 15px 0;
  white-space: nowrap;
  position: relative;

  .year {
    display: inline-block;
    text-align: center;
    color: color(grey);
    font-weight: 600;
  }
}


.months {
  display: flex;
  justify-content: space-between;
  position: relative;

  .month {
    padding: 0 10px 15px 10px;
    width: calc((100vw - 280px) / 12);
    color: color(grey);
    border-left: 1px dashed color(lightGrey, pressed);
    box-sizing: border-box;

    &:first-child {
      border-left: none;
    }
  }

  .empty-month {
    padding: 35px 0;
  }
}

.phases {

  .gap,
  .overlap {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid;
    border-right: 1px solid;
    pointer-events: none;
    z-index: 2;
  }

  .gap {
    background-color: color(lightGrey);
  }

  .overlap {
    background-color: rgba(160, 220, 255, 0.2);
  }

  .phase {
    position: absolute;
    display: inline-block;
    line-height: 18px;
    padding: 0 10px;
    box-sizing: border-box;
    white-space: nowrap;
    color: white;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 2;
  }
}

.weeks-wrapper {
  position: absolute;
  width: 100%;
  padding-bottom: 40px;
}

.weeks {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
  background-color: #e1e1e9;

  &:first-child {
    margin-top: 60px;
  }

  .active-weeks {
    height: 20px;
    transition: transform 0.08s ease-in-out, box-shadow 0.2s ease-in-out;

    .week {
      cursor: grab;
    }

    &:active,
    &.cdk-drag-placeholder {
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
      cursor: grabbing;
      z-index: 2;

      .gap-week {
        display: none;
      }
    }

    .record-main-data {
      display: flex;
      align-items: center;
      position: absolute;
      top: -20px;

      .record-icon {
        font-size: 20px;
        margin-right: 2px;

        &.opportunity-icon {
          color: #43B02A;
        }

        &.solution-icon {
          color: #2FB2B1;
        }
      }

      .record-title {
        font-size: 11px;
        font-weight: 600;
        line-height: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 2;
      }

      .record-information {
        position: relative;

        .info-icon {
          font-size: 16px;
          margin: 0 0 2px 2px;
          color: #00A3E0;
          cursor: pointer;
          position: relative;
          z-index: 3;

          &::after {
            content: "";
            position: absolute;
            left: calc(50% - 8px);
            bottom: 15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 8px 0 8px;
            border-color: #303133 transparent transparent transparent;
            transition: opacity 0.15s ease-in-out;
            opacity: 0;
            pointer-events: none;
          }

          &:hover {

            +.record-tooltip,
            &::after {
              opacity: 1;
            }
          }
        }

        .record-tooltip {
          position: absolute;
          min-width: 300px;
          padding: 18px;
          background-color: #303133;
          transition: all 0.15s ease-in-out;
          opacity: 0;
          color: white;
          font-size: 13px;
          bottom: 25px;
          border-radius: 4px;
          pointer-events: none;
          z-index: 3;

          .tooltip-title {
            font-weight: 600;
          }

          .tooltip-data {
            margin-top: 12px;
          }

          .tooltip-data-key {
            color: rgba(white, 0.6);
          }
        }
      }
    }
  }

  .week {
    display: inline-block;
    height: 20px;
    border-right: 1px solid color(white);
    box-sizing: border-box;
  }

  .dummy-week {
    background-color: #e1e1e9;
  }

  .opportunity-week {
    background-color: #44b029;
  }

  .prepare-week {
    background-color: #2a9794;
  }

  .build-week {
    background-color: #32afb1;
  }

  .deploy-week {
    background-color: #76cecf;
  }
}
