<div class="filter" *ngFor="let filter of filters">
  <p class="filter-name">{{ filter.name }}</p>

  <div class="filter-option"
      [class.list__item--selected]="filter.isAllSelected"
      (click)="selectAllOptions(filter)"
  >
    <i class="icon"
       [ngClass]="{
            'icon-checkbox-empty-16': !filter.isAllSelected,
            'icon-checkbox-all-16': filter.isAllSelected,
            'icon-checkbox-partially-16': filter.isAnySelected
         }"
    ></i> All
  </div>
  <div class="filter-option"
      *ngFor="let option of filter.options"
      [class.list__item--selected]="option.selected"
      (click)="selectOption(filter, option)"
  >
    <i class="icon"
       [ngClass]="{
            'icon-checkbox-empty-16': !option.selected,
            'icon-checkbox-all-16': option.selected
         }"
    ></i> {{ option.name }}
  </div>
</div>
