:host {
  min-width: 300px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  font-size: 14px;
}

.filter {

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.filter-name {
  padding: 12px 24px;
  box-shadow: inset 0px -1px 0px #EBEBEB;
  font-weight: 600;
}

.filter-option {
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  user-select: none;

  &:hover {
    background-color: #f5f5f5;
  }
}

.icon {
  margin-right: 5px;
  color: #00A3E0;
  font-size: 16px;
  vertical-align: bottom;
}
