<div class="configure-popup" [class.show]="isShown">
  <div class="head">
    <span>{{ updatingRecord.title }}</span>
    <button class="close-popup">
      <span class="icon-cross-special" (click)="close()"></span>
    </button>
  </div>

  <div class="config-body" [formGroup]="recordForm">
    <span class="control-name">Team</span>
    <mat-form-field>
      <mat-select formControlName="teamsId" panelClass="panelSelect" multiple>
        <mat-option *ngFor="let team of timeline.filters.teams" [value]="team.id">{{ team.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="control-name">{{ timeline.filters.userDefinedFilter.name }}</span>
    <mat-form-field>
      <mat-select formControlName="userDefinedId" panelClass="panelSelect" multiple>
        <mat-option *ngFor="let customParam of timeline.filters.userDefinedFilter.options" [value]="customParam.id">{{ customParam.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <span class="control-name">Phase</span>
    <mat-form-field>
      <mat-select formControlName="phaseId" panelClass="panelSelect">
        <mat-option *ngFor="let phase of timeline.phases" [value]="phase.id">{{ phase.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="hint" *ngIf="isStartDateChanged">The phase has been changed because you change date.</div>

    <span class="control-name">Start date on Roadmap</span>
    <mat-form-field class="datepicker">
      <input matInput [matDatepicker]="picker" formControlName="startDate">
      <span>{{ recordForm.controls.startDate.value | date:'MMM d, y' }}</span>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="hint" *ngIf="isPhaseIdChanged">Start date has been changed because you change phase.</div>

    <div>Duration in weeks</div>
    <div class="duration" [ngSwitch]="updatingRecord.type">

      <div *ngSwitchCase="recordAllTypes.Opportunity">
        <label for="duration">Duration</label>
        <input type="number" min="0" id="duration" formControlName="duration">
      </div>

      <ng-container *ngSwitchCase="recordAllTypes.Solution">
        <div>
          <label for="prepare">Prepare</label>
          <input type="number" min="0" id="prepare" formControlName="prepare">
        </div>
        <div>
          <label for="build">Build</label>
          <input type="number" min="0" id="build" formControlName="build">
        </div>
        <div>
          <label for="deploy">Deploy</label>
          <input type="number" min="0" id="deploy" formControlName="deploy">
        </div>
      </ng-container>
    </div>

    <button class="button btn-dark"
            *ngIf="updatingRecord"
            (click)="isDeleteModalShown = !isDeleteModalShown"
    >
      <span class="icon-delete-icon-1"></span>
      Delete {{ recordAllTypes[updatingRecord.type] }}
    </button>
  </div>

  <div class="config-footer">
    <button class="button btn-light"
            type="dismiss"
            (click)="close()">
            Cancel</button>
    <button class="button btn-success"
            (click)="applyRecordChanges()">
            Apply
    </button>
  </div>
</div>

<!-- DELETE CONFIRMATION POPUP -->
<div class="delete-confirm" *ngIf="isDeleteModalShown" (click)="isDeleteModalShown = !isDeleteModalShown">
  <div class="delete-popup">
    <div class="pop-head">
      {{ updatingRecord.type }} Deletion
      <span class="icon-cross-special" (click)="isDeleteModalShown = !isDeleteModalShown"></span>
    </div>
    <div class="pop-content" *ngIf="updatingRecord">
      <span class="icon-delete-circle-48"></span>
      Are you sure you want to delete {{ recordAllTypes[updatingRecord.type] | lowercase }} <b>{{ updatingRecord.title }}</b> from the roadmap?
    </div>
    <div class="pop-footer">
      <button class="button btn-light" (click)="isDeleteModalShown =! isDeleteModalShown">Cancel</button>
      <button class="button btn-red" *ngIf="updatingRecord" (click)="deleteRecord(updatingRecord.id, updatingRecord.type)">Delete</button>
    </div>
  </div>
</div>
