@import "../../../../../../../styles/variables";

.configure-popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  min-width: 320px;
  background: #29292B;
  color: color(white);
  z-index: 4;
  transition: transform 0.3s ease-in-out;
  transform: translateX(320px);

  &.show {
    transform: translateX(0);
  }

  .head,
  .form-footer {
    background: #212122;
    box-shadow: inset 0px 1px 3px #2C2C2D,
      inset 0px 1px 0px #121010;
  }

  .head {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;

    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .config-body {
    padding: 16px 32px;
  }

  .control.name {
    font-size: 14px;
    line-height: 20px;
  }

  .mat-form-field {
    padding: 8px 5px;
    margin: 4px 0 24px;
    background: #3A3C3D;
    color: color(white);
    width: 100%;
    border: none;
    outline: #53565A;
  }

  .datepicker {
    width: 160px;
    padding: 6px 5px;

    ::ng-deep {
      .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
        display: none;
      }
    }
  }

  ::ng-deep {
    .mat-icon-button {
      position: relative;

      svg {
        fill: transparent !important;
      }

      &::after {
        position: absolute;
        display: block;
        font-family: 'capability-edge-icon-font';
        content: '\e9c7';
        font-size: 16px;
        border-left: 1px solid #29292B;
        padding-left: 7px;
        top: 0;
        right: 4px;
        color: color(white) !important;
      }
    }

    .mat-select-value {
      color: color(white);
    }

    .mat-select-arrow {
      color: color(white) !important;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      height: 8px;
      left: 0.15em;
      position: relative;
      top: 0;
      vertical-align: top;
      width: 8px;
      transform: rotate(135deg);
    }

    .mat-form-field-appearance-legacy {

      .mat-form-field-wrapper,
      .mat-form-field-infix {
        padding: 0;
        border: none;
      }

      .mat-form-field-ripple,
      .mat-form-field-underline {
        background-color: transparent !important;
      }
    }

    .mat-primary .mat-pseudo-checkbox-checked {
      background: transparent;
    }
  }


  .duration {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;

    div {
      width: 65px;

      input {
        background: #3A3C3D;
        color: color(white);
        width: 100%;
        border: none;
        outline: #53565A;
        padding: 8px;
        width: calc(100% - 16px);
      }
    }

    label {
      font-size: 12px;
      line-height: 20px;
      color: #97999B;
    }
  }

  .config-footer {
    position: absolute;
    width: calc(100% - 64px);
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 12px 32px;

    button {
      margin-left: 24px;
    }
  }
}

button {
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 13px;
  line-height: 24px;
  padding: 3px 18px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;

  &.btn-dark {
    background: #333333;
    border: 1px solid #53565A;
    position: relative;
    padding: 3px 18px 3px 30px;
    margin-top: 24px;

    &:hover {
      background: #3d3d3d;
    }

    span {
      font-size: 20px;
      position: absolute;
      left: 10px;
    }
  }

  &.close-popup {
    padding: 3px 0;
  }

  &.btn-light {
    color: #000;
    background: #F8F8FA;
    border: 1px solid #DEDEE1;

    &:hover {
      background: #ededee;
    }
  }

  &.btn-success {
    background: #00A3E0;
    border: 1px solid #00A3E0;

    &:hover {
      background: #0190c3;
    }
  }

  &.btn-red {
    color: color(white);
    background: #DA291C;

    &:hover {
      background: #be2318;
    }
  }
}

::ng-deep .mat-select-panel {
  background: #3A3C3D;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24), inset 0px -1px 0px rgba(18, 16, 16, 0.2);
  color: color(white);

  .mat-option {
    padding: 0 8px;
    color: color(white) !important;

    &.mat-selected {
      background: rgba(255, 255, 255, 0.08);
    }

    &:hover {
      background: #212122;
    }

    .mat-pseudo-checkbox {
      border: none;
      margin-right: 4px;

      &::after {
        top: 2.4px;
        left: 1px;
        width: 8px;
        height: 3px;
        border-left: 2px solid currentColor;
        transform: rotate(-45deg);
        opacity: 1;
        box-sizing: content-box;
        color: #BBBCBC;
      }

      &.mat-pseudo-checkbox-checked {
        background: transparent;
      }

      &.mat-pseudo-checkbox-checked::after {
        color: #43B02A;
      }
    }
  }
}

::ng-deep {
  .mat-select-panel.panelSelect {
    margin-left: -5px;
    margin-top: 26px;
    min-width: 266px !important;
    max-width: 266px !important;
    border-radius: 0;
  }

  .cdk-live-announcer-element {
    display: none;
  }

  .cdk-overlay-pane {
    transform: none !important;
  }

  .mat-datepicker-content {
    box-shadow: none;
    background-color: transparent;

    .mat-calendar {
      margin-left: -5px;
      height: auto !important;
      width: 256px !important;
    }

    .mat-calendar-next-button,
    .mat-calendar-previous-button,
    .mat-datepicker-toggle {
      color: color(white) !important;
    }
  }
}

.hint {
  margin: -22px 0 24px;
  font-size: 12px;
  line-height: 16px;
  color: #ED8B00;
}

::ng-deep .mat-calendar {
  background: #212122;
  color: rgba(255, 255, 255, 0.8);

  .mat-calendar-header {
    padding: 0;

    .mat-calendar-controls {
      justify-content: space-around;
      padding: 0 20px;

      .mat-calendar-spacer {
        display: none;
      }

      .mat-calendar-period-button {
        order: 2;
      }

      .mat-calendar-previous-button {
        order: 1;
      }

      .mat-calendar-next-button {
        order: 3;
      }

      .mat-calendar-next-button::after,
      .mat-calendar-previous-button::after {
        border-color: #53565A;
      }
    }
  }

  .mat-calendar-content {
    padding: 0;
  }

  .mat-calendar-body-label {
    display: none;
  }

  .mat-calendar-body-cell-content {
    border: none;
    color: color(white);

    &:hover {
      border: 2px solid #00A3E0;
      border-radius: 2px;
    }

    &.mat-calendar-body-selected {
      background: #00A3E0;
      border-radius: 2px;
    }
  }

  .mat-calendar-table {
    background: #3A3C3D;

    .mat-calendar-table-header {
      color: color(white);
      background: #212122;
      box-shadow: inset 0px -1px 0px #121010;
    }
  }
}

.delete-confirm {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  // display: none;

  .delete-popup {
    width: 560px;
    background: color(white);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24), 0px 0px 0px rgba(0, 0, 0, 0.04);

    .pop-head {
      background: rgba(0, 0, 0, 0.0001);
      box-shadow: inset 0px -1px 0px #E2E2E2;
      padding: 18px 24px;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      position: relative;
      text-transform: capitalize;

      span {
        position: absolute;
        font-size: 28px;
        line-height: 28px;
        top: 18px;
        right: 16px;
        cursor: pointer;
      }
    }

    .pop-content {
      padding: 24px 24px 24px 96px;
      min-height: 48px;
      font-size: 16px;
      line-height: 24px;
      position: relative;

      span {
        position: absolute;
        top: 24px;
        left: 24px;
        font-size: 48px;
        line-height: 48px;
        color: #DA291C;
      }
    }

    .pop-footer {
      padding: 16px 24px;
      box-shadow: inset 0px 1px 0px #E1E1E1;
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 16px;
      }
    }
  }
}
