<aside class="sidebar">

  <div class="multiselect">
    <div class="multiselect-item" *ngFor="let multiselectItem of multiselectList">
      <button class="multiselect-item__opener opener-btn"
              [class.open]="multiselectItem.expandAllState === 'open'"
              (click)="multiselectItem.expandAllState = multiselectItem.expandAllState === 'open' ? 'closed' : 'open'"
      >
        <span class="opener-btn__title">{{ multiselectItem.name.toUpperCase() }} ({{ multiselectItem.options.length }})</span>
        <span class="opener-btn__icon icon-simple-arrow-up-special"></span>
      </button>

      <ul class="list"
          [class.closed]="multiselectItem.expandAllState === 'closed'"
          [@openClose]="multiselectItem.expandAllState"
      >
        <li class="list__item"
            [class.list__item--selected]="multiselectItem.isAllSelected"
            (click)="selectAllOptions(multiselectItem)"
        >
          <span class="icon icon-tick-special"></span>
          All {{  multiselectItem.type === selectionTypes.UserDefined ? 'Items' : multiselectItem.name | titlecase }}
        </li>
        <li class="list__item"
            *ngFor="let option of multiselectItem.options | slice:0:2"
            [class.list__item--selected]="option.selected"
            (click)="selectOption(multiselectItem, option)"
        >
          <span class="icon icon-tick-special"></span>
          {{ option.name }}
        </li>

        <li>
          <ul [@openClose]="multiselectItem.expandMoreState">
            <li class="list__item"
                *ngFor="let option of multiselectItem.options | slice:2"
                [class.list__item--selected]="option.selected"
                (click)="selectOption(multiselectItem, option)"
            >
              <span class="icon icon-tick-special"></span>
              {{ option.name }}
            </li>
          </ul>
          <button *ngIf="multiselectItem.options.length > 2" class="list__item view-all"
                  (click)="multiselectItem.expandMoreState = multiselectItem.expandMoreState === 'open' ? 'closed' : 'open'">
            {{ multiselectItem.expandMoreState == 'open' ? 'View less' : 'View all' }}
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="sidebar-footer">
    <a class="link-btn" [routerLink]="'/map/' + mapId + '/roadmap/manage'">
      <span class="icon-cog-special"></span>
      Manage Teams, WS, PH
    </a>
  </div>
</aside>
