@import "src/styles/variables";
@import "src/styles/mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 280px;
  min-width: 280px;
  box-sizing: border-box;
  box-shadow: 1px 0 2px 0 rgba(color(black), 0.1);
  background-color: color(white);
  // Force stacking context
  transform: translate(0);
}

.multiselect {
  flex: 1;
  position: relative;
  overflow-y: scroll;
  @include scrollbar($track-color: transparent, $size: 1px);
}

.multiselect-item {
  // Force stacking context
  transform: translate(0);

  &__opener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.opener-btn {
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  padding: 0 16px 0 32px;
  background-color: color(lightGrey);
  box-shadow: inset 0px -1px 0px #E6E6E6, inset 0px 1px 0px #E6E6E6;

  &__title {
    transition: color 0.15s ease-in-out;
  }

  &__icon {
    width: 21px;
    line-height: 25px;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    font-size: 20px;
  }

  &.open &__icon {
    transform: rotate(180deg);
  }
}

.list {

  &.closed {
    pointer-events: none;
  }

  &__item {
    position: relative;
    padding: 10px 15px 10px 32px;
    border-radius: 3px;
    line-height: 20px;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .icon {
      font-size: 14px;
      line-height: 20px;
      color: rgba(84, 86, 90, 0.2);
      position: absolute;
      top: 10px;
      left: 14px;
    }

    &.view-all {
      width: 100%;
      font-weight: 600;
      color: #00A3E0;
      text-align: left;
    }

    &:hover:not(&--selected) {
      background-color: #f6f6f6;
    }

    &--selected {
      background-color: rgba(67, 176, 42, 0.08);

      .icon {
        color: #43B02A;
      }
    }
  }
}

.sidebar-footer {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.06), inset 0px 1px 0px #E6E6E6;

  .link-btn {
    position: relative;
    background: #00A3E0;
    border-radius: 2px;
    text-align: center;
    box-sizing: border-box;
    width: 198px;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    padding: 4px 0 4px 17px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    span {
      position: absolute;
      left: 10px;
      top: 6px;
      font-size: 20px;
    }

    &:hover {
      background-color: #0182b1;
    }
  }
}
