:host {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.assign-filters-container {
  position: relative;
  z-index: 20;
}

.assign-filters-btn {
  width: 32px;
  height: 32px;
  border: 1px solid #D0D0CE;
  border-radius: 2px;
  font-size: 20px;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: lighten(#D0D0CE, 10);
  }

  &:active {
    background-color: #D0D0CE;
  }
}

.assign-filters {
  position: absolute;
  right: 0;
  top: 40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.filters-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
