<div class="assign-filters-container">
  <button class="assign-filters-btn" (click)="showFilters = !showFilters">
    <i class="icon-filter-special"></i>
  </button>
  <app-assign-filters class="assign-filters" [class.visible]="showFilters"></app-assign-filters>
</div>
<div class="filters-overlay" *ngIf="showFilters" (click)="showFilters = !showFilters"></div>
