<ng-container *ngIf="timeline$ | async as timeline">
  <app-multiselect-sidebar [selectOptions]="timeline.filters"
                           (selectionChange)="filteredDataSubject$.next($event)"
  ></app-multiselect-sidebar>

  <main class="content">

    <div class="buttons-wrp">
      <button (click)="deleteNewPop = !deleteNewPop">delete popup</button>
      <br>
      <button (click)="gotoRoadmapPop = !gotoRoadmapPop">Go to roadmap popup</button>
      <br>
      <button (click)="gotoAssignPop = !gotoAssignPop">Go to assign popup</button>
      <br>
      <button (click)="cancelNewPop = !cancelNewPop">cancel popup</button>
      <br>
      <button (click)="cancel1NewPop = !cancel1NewPop">cancel without saving</button>
    </div>

    <div class="toolbar">
      <app-searchbar [records]="timeline.records" (recordsSearch)="searchedDataSubject$.next($event)"></app-searchbar>
      <div class="add-new">
        <button class="plus">
          <span class=" icon-plus-special"></span>
        </button>
      </div>
    </div>
    <app-timeline [selectedFilters$]="filteredData$"
                  [searchedRecords$]="searchedData$"
                  [timeline]="timeline"
    ></app-timeline>
  </main>
  <app-record-setup [timeline]="timeline"></app-record-setup>

  <!-- POPUPS -->

  <!-- DELETE -->
  <div class="delete-confirm" *ngIf="deleteNewPop" (click)="deleteNewPop = !deleteNewPop">
    <div class="delete-popup">
      <div class="pop-head">
        Team Deletion
        <span class="icon-cross-special" (click)="deleteNewPop = !deleteNewPop"></span>
      </div>
      <div class="pop-content">
        <span class="icon-delete-circle-48"></span>
        Are you sure you want to delete team <b>'Team'</b> from the Roadmap?
      </div>
      <div class="pop-footer">
        <button class="button btn-light" (click)="deleteNewPop = !deleteNewPop">Cancel</button>
        <button class="button btn-red">Delete</button>
      </div>
    </div>
  </div>

  <!-- WARNING -->
  <div class="warning-wrapper" *ngIf="gotoAssignPop" (click)="gotoAssignPop = !gotoAssignPop">
    <div class="inner">
      <span class="icon-error-special"></span>
      <span class="icon-cross-special" (click)="gotoAssignPop = !gotoAssignPop"></span>
      At least one Team and one Phase must be created to go to Assign page.
    </div>
  </div>

  <div class="warning-wrapper" *ngIf="gotoRoadmapPop" (click)="gotoRoadmapPop = !gotoRoadmapPop">
    <div class="inner">
      <span class="icon-error-special"></span>
      <span class="icon-cross-special" (click)="gotoRoadmapPop = !gotoRoadmapPop"></span>
      Opportunities and solutions are not selected. Please select opportunities and solutions to go to Roadmap.
    </div>
  </div>

  <!-- CANCEL -->
  <div class="cancel-confirm" *ngIf="cancelNewPop" (click)="cancelNewPop = !cancelNewPop">
    <div class="cancel-popup">
      <div class="pop-head">
        Leave Teams, Phases and User-Defined section setup
        <span class="icon-cross-special" (click)="cancelNewPop = !cancelNewPop"></span>
      </div>
      <div class="pop-content">
        Are you sure you want to leave page <b>'Teams, Phases and User-Defined section setup'</b> and lose all data.
      </div>
      <div class="pop-footer">
        <button class="button btn-light" (click)="cancelNewPop = !cancelNewPop">Cancel</button>
        <button class="button btn-success">Leave page</button>
      </div>
    </div>
  </div>

  <!-- CANCEL WITHOUT SAVING -->
  <div class="cancel1-confirm" *ngIf="cancel1NewPop" (click)="cancel1NewPop = !cancel1NewPop">
    <div class="cancel-popup">
      <div class="pop-head">
        Leave Teams, Phases and User-Defined section setup
        <span class="icon-cross-special" (click)="cancel1NewPop = !cancel1NewPop"></span>
      </div>
      <div class="pop-content">
        You have unsaved data. You can leave page <b>'Teams, Phases and User-Defined section setup'</b> with saving the data or without saving.
      </div>
      <div class="pop-footer">
        <button class="button btn-light" (click)="cancel1NewPop = !cancel1NewPop">Leave without saving</button>
        <button class="button btn-success">Save data and leave</button>
      </div>
    </div>
  </div>

</ng-container>
