@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

:host {
  display: flex;
  height: 100%;
  padding-top: 48px;
  background-color: color(lightGrey);
  box-sizing: border-box;
}

app-multiselect-sidebar {
  z-index: 4;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  left: 0;

  .add-new {
    padding: 6px 24px;

    .plus {
      height: 48px;
      width: 48px;
      margin: auto;
      background: #00A3E0;
      border-radius: 24px;
      color: #fff;
      font-size: 24px;
      line-height: 52px;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: #0182b1;
      }
    }
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  @include scrollbar(color(lightGrey, pressed), color(lightGrey));
}

// REMOVE IT AFTER MOVING POPUPS
.buttons-wrp {
  position: fixed;
  top: 70%;
  left: 5%;
  z-index: 10;

  button {
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 13px;
    line-height: 24px;
    padding: 3px 18px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    background: #ececec;
    border: 1px solid #bebebe;

    &:hover {
      background: #dfdfdf;
    }
  }
}

// DELETE POPUP
.delete-confirm {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  // display: none;

  .delete-popup {
    width: 560px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24), 0px 0px 0px rgba(0, 0, 0, 0.04);

    .pop-head {
      background: rgba(0, 0, 0, 0.0001);
      box-shadow: inset 0px -1px 0px #E2E2E2;
      padding: 18px 24px;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      position: relative;
      text-transform: capitalize;

      span {
        position: absolute;
        font-size: 28px;
        line-height: 28px;
        top: 18px;
        right: 16px;
        cursor: pointer;
      }
    }

    .pop-content {
      padding: 24px 24px 24px 96px;
      min-height: 48px;
      font-size: 16px;
      line-height: 24px;
      position: relative;

      span {
        position: absolute;
        top: 24px;
        left: 24px;
        font-size: 48px;
        line-height: 48px;
        color: #DA291C;
      }
    }

    .pop-footer {
      padding: 16px 24px;
      box-shadow: inset 0px 1px 0px #E1E1E1;
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 16px;
        box-sizing: border-box;
        border-radius: 2px;
        font-size: 13px;
        line-height: 24px;
        padding: 3px 18px;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &.btn-light {
          color: #000;
          background: #F8F8FA;
          border: 1px solid #DEDEE1;

          &:hover {
            background: #ededee;
          }
        }

        &.btn-red {
          color: #fff;
          background: #DA291C;

          &:hover {
            background: #be2318;
          }
        }
      }
    }
  }
}

// CANCEL POPUP
.cancel-confirm,
.cancel1-confirm {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  // display: none;

  .cancel-popup {
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24), 0px 0px 0px rgba(0, 0, 0, 0.04);

    .pop-head {
      background: rgba(0, 0, 0, 0.0001);
      box-shadow: inset 0px -1px 0px #E2E2E2;
      padding: 18px 24px;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      position: relative;
      text-transform: capitalize;

      span {
        position: absolute;
        font-size: 28px;
        line-height: 28px;
        top: 18px;
        right: 16px;
        cursor: pointer;
      }
    }

    .pop-content {
      padding: 24px;
      min-height: 48px;
      font-size: 16px;
      line-height: 24px;
      position: relative;

      span {
        position: absolute;
        top: 24px;
        left: 24px;
        font-size: 48px;
        line-height: 48px;
        color: #DA291C;
      }
    }

    .pop-footer {
      padding: 16px 24px;
      box-shadow: inset 0px 1px 0px #E1E1E1;
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 16px;
        box-sizing: border-box;
        border-radius: 2px;
        font-size: 13px;
        line-height: 24px;
        padding: 3px 18px;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &.btn-light {
          color: #000;
          background: #F8F8FA;
          border: 1px solid #DEDEE1;

          &:hover {
            background: #ededee;
          }
        }

        &.btn-success {
          background: #00A3E0;
          border: 1px solid #00A3E0;
          color: #fff;
      
          &:hover {
            background: #0190c3;
          }
        }
      }
    }
  }
}

// WARNING POPUP
.warning-wrapper {
  position: fixed;
  bottom: 76px;
  left: calc(50% - 460px);
  background: #53565A;
  border-radius: 2px;
  width: 920px;
  color: #fff;
  padding: 8px 48px;
  z-index: 4;

  .inner {
    position: relative;
    font-size: 14px;
    line-height: 20px;

    .icon-error-special,
    .icon-cross-special {
      position: absolute;
      font-size: 24px;
      line-height: 24px;
    }

    .icon-error-special {
      left: -35px;
    }

    .icon-cross-special {
      right: -35px;
      cursor: pointer;
    }
  }
}
