@keyframes circle-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes toTopBounce {
  0% {
    transform: translate3d(0, 0, 0) rotate(180deg);
  }

  50% {
    transform: translate3d(0, -5px, 0) rotate(180deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(180deg);
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  10% {
    width: 85%;
  }
  to {
    width: 100%;
  }
}

@keyframes progress-end {
  to {
    width: 100%;
  }
}
