@import "src/styles/variables";
@import "src/styles/keyframes";

@mixin inputPlaceholder($color: color(black)) {
  &::-webkit-input-placeholder {
    color: $color;
    transition: all 0.1s ease-in-out;
  }
  &::-moz-placeholder {
    color: $color;
    transition: all 0.1s ease-in-out;
  }
  &:-ms-input-placeholder {
    color: $color;
    transition: all 0.1s ease-in-out;
  }
  &:focus::-webkit-input-placeholder {
    color: lighten($color, 10);
  }
  &:focus::-moz-placeholder {
    color: lighten($color, 10);
  }
  &:focus:-ms-input-placeholder {
    color: lighten($color, 10);
  }
}

@mixin scrollbar($color: color(lightGrey, pressed), $track-color: white, $size: 8px) {
  /* width or height */
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $track-color;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 10px;
    &:hover {
      background-color: darken($color, 10);
    }
  }
}
