$colors: (
  // primary
  white: (
    default: #FFFFFF,
    selected: #F5F5F5,
    hovered: #F0F0F0,
    pressed: #E1E1E1
  ),
  lightGrey: (
    default: #F8F8FA,
    selected: #EEEEF0,
    hovered: #E9E9EB,
    pressed: #D9D9DC
  ),
  grey: (
    default: #52575D,
    selected: #45494F,
    hovered: #191919,
    pressed: #333333
  ),
  black: (
    default: #000000,
    selected: #141414,
    hovered: #191919,
    pressed: #333333
  ),
  green: (
    default: #86BC25,
    selected: #7EB31C,
    hovered: #79AE18,
    pressed: #6B9E0C
  ),
  blue: (
    default: #00A3E0,
    selected: #009DD7,
    hovered: #0099D1,
    pressed: #008EC2
  ),
  // secondary
  orange: (
    default: #ED8B00,
    selected: #E38400,
    hovered: #DE8100,
    pressed: #CF7800
  ),
  red: (
    default: #DA291C,
    selected: #CF1F12,
    hovered: #CA1A0E,
    pressed: #BA0E01
  )
);

@function color($color-name, $color-variant: null) {
  // color variant is optional
  @if ($color-variant != null) {
    // map inception
    @return map-get(map-get($colors, $color-name), $color-variant);
  } @else {
    @return map-get(map-get($colors, $color-name), default);
  }
}
