@import "../variables";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', 'Trebuchet MS', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: color(black);
  background-color: color(lightGrey);
}
