@font-face {
  font-family: 'capability-edge-icon-font';
  src:  url('./assets/fonts/ce-icon-font/capability-edge-icon-font.eot?m0lu1');
  src:  url('./assets/fonts/ce-icon-font/capability-edge-icon-font.eot?m0lu1#iefix') format('embedded-opentype'),
  url('./assets/fonts/ce-icon-font/capability-edge-icon-font.ttf?m0lu1') format('truetype'),
  url('./assets/fonts/ce-icon-font/capability-edge-icon-font.woff?m0lu1') format('woff'),
  url('./assets/fonts/ce-icon-font/capability-edge-icon-font.svg?m0lu1#capability-edge-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'capability-edge-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-right-special:before {
  content: "\e900";
}
.icon-arrow-left-special:before {
  content: "\e901";
}
.icon-arrow-right-special:before {
  content: "\e902";
}
.icon-arrow-up-down-special:before {
  content: "\e903";
}
.icon-arrow-up-special:before {
  content: "\e904";
}
.icon-backup-complete-special:before {
  content: "\e905";
}
.icon-backup-special:before {
  content: "\e906";
}
.icon-bar-chart-1-special:before {
  content: "\e907";
}
.icon-bar-chart-2-special:before {
  content: "\e908";
}
.icon-battery-0-special:before {
  content: "\e909";
}
.icon-battery-1-special:before {
  content: "\e90a";
}
.icon-bluetooth-special:before {
  content: "\e90b";
}
.icon-book-open-special:before {
  content: "\e90c";
}
.icon-bookmark-2-special:before {
  content: "\e90d";
}
.icon-bookmark-special:before {
  content: "\e90e";
}
.icon-briefcase-special:before {
  content: "\e90f";
}
.icon-broadcast-special:before {
  content: "\e910";
}
.icon-bug-special:before {
  content: "\e911";
}
.icon-burger-menu-special:before {
  content: "\e912";
}
.icon-checkbox-full-special:before {
  content: "\e913";
}
.icon-checkbox-tick-special:before {
  content: "\e914";
}
.icon-claperboard-special:before {
  content: "\e915";
}
.icon-clipboard-special:before {
  content: "\e916";
}
.icon-clock-special:before {
  content: "\e917";
}
.icon-cloud-special:before {
  content: "\e918";
}
.icon-code-special:before {
  content: "\e919";
}
.icon-cog-special:before {
  content: "\e91a";
}
.icon-credit-card-special:before {
  content: "\e91b";
}
.icon-crop-special:before {
  content: "\e91c";
}
.icon-cross-special:before {
  content: "\e91d";
}
.icon-cursor-special:before {
  content: "\e91e";
}
.icon-decrease-4-special:before {
  content: "\e91f";
}
.icon-decrease-5-special:before {
  content: "\e920";
}
.icon-direction-special:before {
  content: "\e921";
}
.icon-dislike-special:before {
  content: "\e922";
}
.icon-document-3-special:before {
  content: "\e923";
}
.icon-download-from-cloud-special:before {
  content: "\e924";
}
.icon-download-special:before {
  content: "\e925";
}
.icon-edit-profile-special:before {
  content: "\e926";
}
.icon-ellipsis-special:before {
  content: "\e927";
}
.icon-error-special:before {
  content: "\e928";
}
.icon-exclamation-mark-special:before {
  content: "\e929";
}
.icon-exit-special:before {
  content: "\e92a";
}
.icon-external-link-special:before {
  content: "\e92b";
}
.icon-eye-special:before {
  content: "\e92c";
}
.icon-fast-forward-special:before {
  content: "\e92d";
}
.icon-file-audio-1-special:before {
  content: "\e92e";
}
.icon-file-code-special:before {
  content: "\e92f";
}
.icon-file-doc-special:before {
  content: "\e930";
}
.icon-file-edit-special:before {
  content: "\e931";
}
.icon-file-movie-special:before {
  content: "\e932";
}
.icon-file-new-special:before {
  content: "\e933";
}
.icon-file-pdf-special:before {
  content: "\e934";
}
.icon-file-picture-special:before {
  content: "\e935";
}
.icon-file-ppt-special:before {
  content: "\e936";
}
.icon-file-xls-special:before {
  content: "\e937";
}
.icon-file-zip-special:before {
  content: "\e938";
}
.icon-filter-special:before {
  content: "\e939";
}
.icon-flag-special:before {
  content: "\e93a";
}
.icon-folder-special:before {
  content: "\e93b";
}
.icon-folders-special:before {
  content: "\e93c";
}
.icon-forward-special:before {
  content: "\e93d";
}
.icon-globe-special:before {
  content: "\e93e";
}
.icon-grid-special:before {
  content: "\e93f";
}
.icon-headphones-special:before {
  content: "\e940";
}
.icon-heart-special:before {
  content: "\e941";
}
.icon-history-special:before {
  content: "\e942";
}
.icon-Civilian:before {
  content: "\e943";
}
.icon-inbox-special:before {
  content: "\e944";
}
.icon-increase-5-special:before {
  content: "\e945";
}
.icon-infinity-loop-special:before {
  content: "\e946";
}
.icon-key-2-special:before {
  content: "\e947";
}
.icon-laptop-special:before {
  content: "\e948";
}
.icon-life-buoy-special:before {
  content: "\e949";
}
.icon-lightbulb-special:before {
  content: "\e94a";
}
.icon-like-special:before {
  content: "\e94b";
}
.icon-link-special:before {
  content: "\e94c";
}
.icon-list-2-special:before {
  content: "\e94d";
}
.icon-list-special:before {
  content: "\e94e";
}
.icon-lock-special:before {
  content: "\e94f";
}
.icon-mail-in-special:before {
  content: "\e950";
}
.icon-mail-out-special:before {
  content: "\e951";
}
.icon-mail-special:before {
  content: "\e952";
}
.icon-male-symbol-special:before {
  content: "\e953";
}
.icon-man-silhouette-special:before {
  content: "\e954";
}
.icon-map-special:before {
  content: "\e955";
}
.icon-microphone-2-special:before {
  content: "\e956";
}
.icon-microphone-3-special:before {
  content: "\e957";
}
.icon-minus-special:before {
  content: "\e958";
}
.icon-mobile-special:before {
  content: "\e959";
}
.icon-movie-clip-special:before {
  content: "\e95a";
}
.icon-music-special:before {
  content: "\e95b";
}
.icon-navigation-1-special:before {
  content: "\e95c";
}
.icon-navigation-2-special:before {
  content: "\e95d";
}
.icon-newspaper-special:before {
  content: "\e95e";
}
.icon-no-entry-special:before {
  content: "\e95f";
}
.icon-non-visable-special:before {
  content: "\e960";
}
.icon-office-locator-special:before {
  content: "\e961";
}
.icon-openfolderspecial1:before {
  content: "\e962";
}
.icon-open-folder-special:before {
  content: "\e963";
}
.icon-options-special:before {
  content: "\e964";
}
.icon-org-chart-special:before {
  content: "\e965";
}
.icon-paper-plane-special:before {
  content: "\e966";
}
.icon-paperclip-special:before {
  content: "\e967";
}
.icon-partlyselected-checkbox:before {
  content: "\e968";
}
.icon-phone-special:before {
  content: "\e969";
}
.icon-picture-special:before {
  content: "\e96a";
}
.icon-pie-chart-1-special:before {
  content: "\e96b";
}
.icon-pin-special:before {
  content: "\e96c";
}
.icon-Travel_Hospitality_N_Services:before {
  content: "\e96d";
}
.icon-play-special:before {
  content: "\e96e";
}
.icon-plus-special:before {
  content: "\e96f";
}
.icon-podcast-special:before {
  content: "\e970";
}
.icon-power-special:before {
  content: "\e971";
}
.icon-printer-special:before {
  content: "\e972";
}
.icon-profile-2-special:before {
  content: "\e973";
}
.icon-profile-special:before {
  content: "\e974";
}
.icon-public-building-special:before {
  content: "\e975";
}
.icon-qr-code-special:before {
  content: "\e976";
}
.icon-question-mark-special:before {
  content: "\e977";
}
.icon-quote-marks-2-special:before {
  content: "\e978";
}
.icon-quote-marks-special:before {
  content: "\e979";
}
.icon-record-special:before {
  content: "\e97a";
}
.icon-recycle-special:before {
  content: "\e97b";
}
.icon-refresh-special:before {
  content: "\e97c";
}
.icon-reply-all-special:before {
  content: "\e97d";
}
.icon-reply-special:before {
  content: "\e97e";
}
.icon-return-special:before {
  content: "\e97f";
}
.icon-rewind-special:before {
  content: "\e980";
}
.icon-rss-special:before {
  content: "\e981";
}
.icon-satchel-special:before {
  content: "\e982";
}
.icon-scissors-special:before {
  content: "\e983";
}
.icon-search-special2:before {
  content: "\e984";
}
.icon-selected-checkbox:before {
  content: "\e985";
}
.icon-selected-radiobutton:before {
  content: "\e986";
}
.icon-share-special:before {
  content: "\e987";
}
.icon-Insurance:before {
  content: "\e988";
}
.icon-shuffle-special:before {
  content: "\e989";
}
.icon-simple-arrow-left-special:before {
  content: "\e98a";
}
.icon-simple-arrow-right-special:before {
  content: "\e98b";
}
.icon-simple-arrow-up-special:before {
  content: "\e98c";
}
.icon-skip-backwards-special:before {
  content: "\e98d";
}
.icon-skip-forward-special:before {
  content: "\e98e";
}
.icon-skip-forwards-special:before {
  content: "\e98f";
}
.icon-skip-rewind-special:before {
  content: "\e990";
}
.icon-slider-special:before {
  content: "\e991";
}
.icon-smallchevron-down:before {
  content: "\e992";
}
.icon-smallchevron-left:before {
  content: "\e993";
}
.icon-smallchevron-right:before {
  content: "\e994";
}
.icon-smallchevron-up:before {
  content: "\e995";
}
.icon-sort-alpha-ascending-special:before {
  content: "\e996";
}
.icon-sort-alpha-descending-special:before {
  content: "\e997";
}
.icon-sort-amount-ascending-special:before {
  content: "\e998";
}
.icon-sort-amount-descending-special:before {
  content: "\e999";
}
.icon-speech-2-special:before {
  content: "\e99a";
}
.icon-speech-bubble-special:before {
  content: "\e99b";
}
.icon-speedometer-special:before {
  content: "\e99c";
}
.icon-spin-special:before {
  content: "\e99d";
}
.icon-stack-overflow-special:before {
  content: "\e99e";
}
.icon-star-special:before {
  content: "\e99f";
}
.icon-stop-special:before {
  content: "\e9a0";
}
.icon-stopwatch-special:before {
  content: "\e9a1";
}
.icon-sun-shade-special:before {
  content: "\e9a2";
}
.icon-sun-special:before {
  content: "\e9a3";
}
.icon-tablet-special:before {
  content: "\e9a4";
}
.icon-Consumer_Products:before {
  content: "\e9a5";
}
.icon-television-special:before {
  content: "\e9a6";
}
.icon-tick-list-special:before {
  content: "\e9a7";
}
.icon-tick-special:before {
  content: "\e9a8";
}
.icon-toolbox-special:before {
  content: "\e9a9";
}
.icon-traffic-signal-eu-special:before {
  content: "\e9aa";
}
.icon-Public_Transportation:before {
  content: "\e9ab";
}
.icon-Retail_Wholesale_N_Distribution:before {
  content: "\e9ac";
}
.icon-trophy-special:before {
  content: "\e9ad";
}
.icon-unlink-special:before {
  content: "\e9ae";
}
.icon-unlock-special:before {
  content: "\e9af";
}
.icon-unselected-checkbox:before {
  content: "\e9b0";
}
.icon-unselected-radiobutton:before {
  content: "\e9b1";
}
.icon-upload-special:before {
  content: "\e9b2";
}
.icon-upload-to-cloud-special:before {
  content: "\e9b3";
}
.icon-usb-special:before {
  content: "\e9b4";
}
.icon-user-2-special:before {
  content: "\e9b5";
}
.icon-video-special:before {
  content: "\e9b6";
}
.icon-volume-1-special:before {
  content: "\e9b7";
}
.icon-volume-4-special:before {
  content: "\e9b8";
}
.icon-wifi-special:before {
  content: "\e9b9";
}
.icon-zoom-in-special:before {
  content: "\e9ba";
}
.icon-zoom-out-special:before {
  content: "\e9bb";
}
.icon-special:before {
  content: "\e9bc";
}
.icon-alarm-clock-special:before {
  content: "\e9bd";
}
.icon-archive-box-special:before {
  content: "\e9be";
}
.icon-arrow-double-down-special:before {
  content: "\e9bf";
}
.icon-arrow-double-left-special:before {
  content: "\e9c0";
}
.icon-arrow-double-right-special:before {
  content: "\e9c1";
}
.icon-arrow-double-up-special:before {
  content: "\e9c2";
}
.icon-arrow-down-special:before {
  content: "\e9c3";
}
.icon-battery-5-special:before {
  content: "\e9c4";
}
.icon-bin-special:before {
  content: "\e9c5";
}
.icon-blog-special:before {
  content: "\e9c6";
}
.icon-calender-special:before {
  content: "\e9c7";
}
.icon-camera-special:before {
  content: "\e9c8";
}
.icon-checkbox-empty-special:before {
  content: "\e9c9";
}
.icon-cogs-special:before {
  content: "\e9ca";
}
.icon-commenting-special:before {
  content: "\e9cb";
}
.icon-compass-1-special:before {
  content: "\e9cc";
}
.icon-display-special:before {
  content: "\e9cd";
}
.icon-document-1-special:before {
  content: "\e9ce";
}
.icon-document-2-special:before {
  content: "\e9cf";
}
.icon-search-special-2:before {
  content: "\e9d0";
}
.icon-Banking_N_Securities:before {
  content: "\e9d1";
}
.icon-US_State_Government:before {
  content: "\e9d2";
}
.icon-copy-icon-1-1:before {
  content: "\e9d3";
}
.icon-product:before {
  content: "\e9d4";
}
.icon-move-capability-1:before {
  content: "\e9d5";
}
.icon-outsourced:before {
  content: "\e9d6";
}
.icon-Health:before {
  content: "\e9d7";
}
.icon-offshore:before {
  content: "\e9d8";
}
.icon-icon-network:before {
  content: "\e9d9";
}
.icon-icon-geography:before {
  content: "\e9da";
}
.icon-icon-1:before {
  content: "\e9db";
}
.icon-delete-icon-1:before {
  content: "\e9dc";
}
.icon-icon-customer:before {
  content: "\e9dd";
}
.icon-icon-custom:before {
  content: "\e9de";
}
.icon-icon-process:before {
  content: "\e9df";
}
.icon-left-side:before {
  content: "\e9e0";
}
.icon-right-side:before {
  content: "\e9e1";
}
.icon-inshore-icon:before {
  content: "\e9e2";
}
.icon-star-full:before {
  content: "\e9e3";
}
.icon-video-special-2:before {
  content: "\e9e4";
}
.icon-target-icon:before {
  content: "\e9e5";
}
.icon-menu-vertical-dots-1:before {
  content: "\e9e6";
}
.icon-menu-burger:before {
  content: "\e9e7";
}
.icon-info-information-2:before {
  content: "\e9e8";
}
.icon-dollar:before {
  content: "\e9e9";
}
.icon-check:before {
  content: "\e9ea";
}
.icon-briefcase-1:before {
  content: "\e9eb";
}
.icon-arrows-left-right:before {
  content: "\e9ec";
}
.icon-Clusters_Zoom_Icon_default:before {
  content: "\e9ed";
}
.icon-Clusters_Zoom_Icon_default_medium:before {
  content: "\e9ee";
}
.icon-Clusters_Zoom_Icon_default_large:before {
  content: "\e9ef";
}
.icon-Clusters_Zoom_Icon_GREEN_small:before {
  content: "\e9f0";
}
.icon-Clusters_Zoom_Icon_GREEN_medium:before {
  content: "\e9f1";
}
.icon-Clusters_Zoom_Icon_GREEN_large:before {
  content: "\e9f2";
}
.icon-Cluster_thin:before {
  content: "\e9f3";
}
.icon-DEP_Icon_for_map_creation_card:before {
  content: "\e9f4";
}
.icon-Functional_Icon_for_map_creation_card:before {
  content: "\e9f5";
}
.icon-DEP_for_menu:before {
  content: "\e9f6";
}
.icon-Micro_Roadmap_Icon:before {
  content: "\e9f7";
}
.icon-DEP_Icon:before {
  content: "\e9f8";
}
.icon-DEP_Icon_for_filters:before {
  content: "\e9f9";
}
.icon-Value_chains_icon:before {
  content: "\e9fa";
}
.icon-Value_chains_icon_OUTLINE:before {
  content: "\e9fb";
}
.icon-error_icon_for_map_creation:before {
  content: "\e9fc";
}
.icon-back_button_for_capatility_details:before {
  content: "\e9fd";
}
.icon-done_icon_fro_map_creation:before {
  content: "\e9fe";
}
.icon-save_icon_for_edit_panel:before {
  content: "\e9ff";
}
.icon-apabilities_zoom_level_icon:before {
  content: "\ea00";
}
.icon-apabilities_zoom_level_icon_selected:before {
  content: "\ea01";
}
.icon-cluster_icon_for_roadmap:before {
  content: "\ea02";
}
.icon-tick-check-ok-accept-yes-accept-tick-positive---deloitte-icons:before {
  content: "\ea03";
}
.icon-Icon-Pause:before {
  content: "\ea04";
}
.icon-Icon_Filter_Filled:before {
  content: "\ea05";
}
.icon-Icon-Undo:before {
  content: "\ea06";
}
.icon-Icon-Redo:before {
  content: "\ea07";
}
.icon-pencil-write-edit-draw-copywriting-draft-scribe-outline---deloitte-icons-1:before {
  content: "\ea08";
}
.icon-share-network-social-android-networking-outline---deloitte-icons:before {
  content: "\ea0a";
}
.icon-Icon-Cluster-Filled-24:before {
  content: "\ea0b";
  color: #75787b;
}
.icon-Icon-Cluster-Dashed:before {
  content: "\ea09";
  color: #53565a;
}
.icon-Icon_CapabilityEdge_4:before {
  content: "\ea0d";
}
.icon-Icon_CapabilityEdge_7:before {
  content: "\ea0e";
}
.icon-Icon_CapabilityEdge_11:before {
  content: "\ea0f";
}
.icon-Icon_CapabilityEdge_15:before {
  content: "\ea10";
}
.icon-Icon_CapabilityEdge_16:before {
  content: "\ea11";
}
.icon-Icon_CapabilityEdge_23:before {
  content: "\ea1b";
}
.icon-Icon_CapabilityEdge_24:before {
  content: "\ea1c";
}
.icon-Icon_CapabilityEdge_10:before {
  content: "\ea1d";
}
.icon-Icon_CapabilityEdge_27:before {
  content: "\ea1e";
}
.icon-Icon_CapabilityEdge_21:before {
  content: "\ea1f";
}
.icon-Icon_CapabilityEdge_18:before {
  content: "\ea20";
}
.icon-Icon_CapabilityEdge_14:before {
  content: "\ea21";
}
.icon-Icon_CapabilityEdge_13:before {
  content: "\ea22";
}
.icon-Icon_CapabilityEdge_12:before {
  content: "\ea23";
}
.icon-Icon_CapabilityEdge_25:before {
  content: "\ea24";
}
.icon-Icon_CapabilityEdge_8:before {
  content: "\ea25";
}
.icon-Icon_CapabilityEdge_9:before {
  content: "\ea26";
}
.icon-Icon_CapabilityEdge_5:before {
  content: "\ea27";
}
.icon-Icon_CapabilityEdge_3:before {
  content: "\ea28";
}
.icon-Icon_CapabilityEdge_2:before {
  content: "\ea29";
}
.icon-Icon_CapabilityEdge_1:before {
  content: "\ea2a";
}
.icon-Icon_CapabilityEdge_6:before {
  content: "\ea0c";
}
.icon-Icon_CapabilityEdge_22:before {
  content: "\ea12";
}
.icon-Icon_CapabilityEdge_17:before {
  content: "\ea13";
}
.icon-Icon-Unlink-24:before {
  content: "\ea14";
}
.icon-Cancel-bold-24:before {
  content: "\ea15";
}
.icon-Icon_centralize_16:before {
  content: "\ea16";
}
.icon-Icon_Value_map_24:before {
  content: "\ea17";
}
.icon-Icon_Animation_24:before {
  content: "\ea18";
}
.icon-Icon_Presetation_28:before {
  content: "\ea19";
}
.icon-Icon-Filters-Filled:before {
  content: "\ea1a";
}
.icon-Icon-Employe-24:before {
  content: "\ea2c";
}
.icon-Icon-Cost-24:before {
  content: "\ea2b";
}
.icon-Icon-Animations--Presentations-48:before {
  content: "\ea2d";
}
.icon-Icon-Assign-Opportunities--Solutions-48:before {
  content: "\ea2e";
}
.icon-General_Non-identifiable:before {
  content: "\ea2f";
}
.icon-Icon-Define-Roadmaps-48:before {
  content: "\ea30";
}
.icon-Icon-Assess-Capability-Maturity-48:before {
  content: "\ea31";
}
.icon-Icon-Construct-Operating-Models-48:before {
  content: "\ea32";
}
.icon-done-64:before {
  content: "\ea33";
}
.icon-close-circle-64:before {
  content: "\ea34";
}
.icon-delete-circle-48:before {
  content: "\ea35";
}
.icon-upload-72:before {
  content: "\ea36";
}
.icon-arrow-double-left_24:before {
  content: "\ea37";
}
.icon-arrow-double-right-24:before {
  content: "\ea38";
}
.icon-arrow-left-24:before {
  content: "\ea39";
}
.icon-arrow-right-24:before {
  content: "\ea3a";
}
.icon-bmp-24:before {
  content: "\ea3b";
}
.icon-gif-24:before {
  content: "\ea3c";
}
.icon-jpeg-24:before {
  content: "\ea3d";
}
.icon-docx-24:before {
  content: "\ea3e";
}
.icon-jpg-24:before {
  content: "\ea3f";
}
.icon-mov-24:before {
  content: "\ea40";
}
.icon-png-24:before {
  content: "\ea41";
}
.icon-pptx-24:before {
  content: "\ea42";
}
.icon-txt-24:before {
  content: "\ea43";
}
.icon-xlsx-24:before {
  content: "\ea44";
}
.icon-Automotive:before {
  content: "\ea45";
}
.icon-Civil_Government:before {
  content: "\ea46";
}
.icon-Chemicals_N_Specialty_Materials:before {
  content: "\ea47";
}
.icon-Defense_N_National_Security:before {
  content: "\ea48";
}
.icon-Defense:before {
  content: "\ea49";
}
.icon-Education:before {
  content: "\ea4a";
}
.icon-Funds:before {
  content: "\ea4b";
}
.icon-Health_Care_Providers:before {
  content: "\ea4c";
}
.icon-Health_Care:before {
  content: "\ea4d";
}
.icon-Industrial_Products_N_Services:before {
  content: "\ea4e";
}
.icon-International_Donor_Organizations:before {
  content: "\ea4f";
}
.icon-Investment_Management:before {
  content: "\ea50";
}
.icon-Life_Sciences:before {
  content: "\ea51";
}
.icon-Media_N_Entertainment:before {
  content: "\ea52";
}
.icon-Mining:before {
  content: "\ea53";
}
.icon-Oil_N_Gas:before {
  content: "\ea54";
}
.icon-Power_N_Utilities:before {
  content: "\ea55";
}
.icon-Real_Estate_N_Construction:before {
  content: "\ea56";
}
.icon-Shipping_N_Ports:before {
  content: "\ea57";
}
.icon-Security_N_Justice:before {
  content: "\ea58";
}
.icon-Technology:before {
  content: "\ea59";
}
.icon-Water:before {
  content: "\ea5a";
}
.icon-Telecommunications:before {
  content: "\ea5b";
}
.icon-value-chain-24:before {
  content: "\ea5c";
}
.icon-checkbox-empty-16:before {
  content: "\ea5d";
}
.icon-checkbox-partially-16:before {
  content: "\ea5e";
}
.icon-checkbox-all-16:before {
  content: "\ea5f";
}
