@font-face {
  font-family: 'TMAS_Icon_Font';
  src:  url('./assets/fonts/tmas-icons/TMAS_Icon_Font.eot?ghrcw2');
  src:  url('./assets/fonts/tmas-icons/TMAS_Icon_Font.eot?ghrcw2#iefix') format('embedded-opentype'),
  url('./assets/fonts/tmas-icons/TMAS_Icon_Font.ttf?ghrcw2') format('truetype'),
  url('./assets/fonts/tmas-icons/TMAS_Icon_Font.svg?ghrcw2#TMAS_Icon_Font') format('svg'),
  url('./assets/fonts/tmas-icons/TMAS_Icon_Font.woff?ghrcw2') format('woff'),
  url('./assets/fonts/tmas-icons/TMAS_Icon_Font.woff2?ghrcw2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TMAS_Icon_Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Icon-Checkbox-Normal-24:before {
  content: "\e900";
}
.icon-Checkbox-Checked-24:before {
  content: "\e901";
}
.icon-Checkbox-Partly-Checked-24:before {
  content: "\e902";
}
.icon-Icon-Arrow-Down-24:before {
  content: "\e903";
}
.icon-Icon-Arrow-Left-24:before {
  content: "\e904";
}
.icon-Icon-Arrow-Right-24:before {
  content: "\e905";
}
.icon-Icon-Arrows-Left-24:before {
  content: "\e906";
}
.icon-Icon-Arrows-Right-24:before {
  content: "\e907";
}
.icon-Icon-Close-24:before {
  content: "\e908";
}
.icon-Icon-Filter-Ascending-24:before {
  content: "\e909";
}
.icon-Icon-Filter-Descending-24:before {
  content: "\e90b";
}
.icon-Icon-Filter-Normal-24:before {
  content: "\e90d";
}
.icon-Icon-Menu-24:before {
  content: "\e90e";
}
.icon-Icon-Search-24:before {
  content: "\e90f";
}
.icon-Icon-Status-24:before {
  content: "\e910";
}
.icon-Icon-Home-24:before {
  content: "\e911";
}
.icon-Icon-Services--ases-24:before {
  content: "\e912";
}
.icon-Icon-User-Management-24:before {
  content: "\e914";
}
.icon-Icon-Engagements-24:before {
  content: "\e915";
}
.icon-Icon-Data-Lab-24:before {
  content: "\e916";
}
.icon-Icon-Arrow-Up-24:before {
  content: "\e90a";
}
.icon-Activity-Analysis-Survey:before {
  content: "\e90c";
}
.icon-MA-Companion-App:before {
  content: "\e913";
}
.icon-MA-Growth-Accelerator:before {
  content: "\e917";
}
.icon-MA-Library:before {
  content: "\e918";
}
.icon-Maturity-Assessment:before {
  content: "\e919";
}
.icon-Operating-Model-Assessment:before {
  content: "\e91a";
}
.icon-Org-Design-Analytics:before {
  content: "\e91b";
}
.icon-Pipeline-Management:before {
  content: "\e91c";
}
.icon-Program-Management:before {
  content: "\e91d";
}
.icon-Prospector:before {
  content: "\e91e";
}
.icon-Scenario-Planning:before {
  content: "\e91f";
}
.icon-Site-Profile-Survey:before {
  content: "\e920";
}
.icon-Smart-Contract:before {
  content: "\e921";
}
.icon-Target-Screening:before {
  content: "\e922";
}
.icon-Total-Diligence:before {
  content: "\e923";
}
.icon-Value-Capture-and-Synergy:before {
  content: "\e924";
}
.icon-Virtual-Data-Room:before {
  content: "\e925";
}
.icon-Visual-Decision-Accelerator:before {
  content: "\e926";
}
.icon-Interdependency-Accelerator:before {
  content: "\e927";
}
.icon-Digital-Deal-Room:before {
  content: "\e928";
}
.icon-Doblin-Inisights:before {
  content: "\e929";
}
.icon-Document-Extraction-by-D-ICE:before {
  content: "\e92a";
}
.icon-Document-Repository:before {
  content: "\e92b";
}
.icon-Command-Center-Chatbot:before {
  content: "\e92c";
}
.icon-Clean-Room:before {
  content: "\e92d";
}
.icon-Blueprinting:before {
  content: "\e92e";
}
.icon-Icon-Calendar-24:before {
  content: "\e92f";
}
.icon-Icon-Details-Active-24:before {
  content: "\e930";
}
.icon-Icon-Details-Default-24:before {
  content: "\e931";
}
.icon-Icon-Client-24:before {
  content: "\e932";
}
.icon-Icon-Star-24:before {
  content: "\e933";
}
.icon-Icon-Signout-24:before {
  content: "\e934";
}
.icon-Icon-Setting-24:before {
  content: "\e935";
}
.icon-Icon-Plus-24:before {
  content: "\e936";
}
.icon-Icon-Download-24:before {
  content: "\e937";
}
.icon-Icon-Long-Arrow-24:before {
  content: "\e938";
}
.icon-Icon-Email-24:before {
  content: "\e939";
}
.icon-Icon-User-24:before {
  content: "\e93a";
}
.icon-Icon-Error-32:before {
  content: "\e93b";
}
.icon-Icon-Lock-24:before {
  content: "\e93c";
}
.icon-Icon-Unlock-24:before {
  content: "\e93d";
}
.icon-Icon-Link-24:before {
  content: "\e93e";
}
.icon-Cloud-Value-Calculator:before {
  content: "\e93f";
}
.icon-Digital-Maturity-Assessment:before {
  content: "\e940";
}
.icon-Synergy-Estimator-Tool:before {
  content: "\e941";
}
.icon-Icon-volume-24:before {
  content: "\e942";
}
.icon-Icon-play-24:before {
  content: "\e943";
}
.icon-Icon-increase-24:before {
  content: "\e944";
}
.icon-Icon-decrease-24:before {
  content: "\e945";
}
.icon-Icon-edit-24:before {
  content: "\e946";
}
.icon-Activity-Analysis-Survey-v2:before {
  content: "\e947";
}
.icon-Blueprinting-v2:before {
  content: "\e948";
}
.icon-Clean-Room-v2:before {
  content: "\e949";
}
.icon-Cloud-Value-Calculator-v2:before {
  content: "\e94a";
}
.icon-Command-Center-Chatbot-v2:before {
  content: "\e94b";
}
.icon-Digital-Deal-Room-v2:before {
  content: "\e94c";
}
.icon-Digital-Maturity-Assessment-v2:before {
  content: "\e94d";
}
.icon-Doblin-Inisights-v2:before {
  content: "\e94e";
}
.icon-Document-Extraction-by-D-ICE-v2:before {
  content: "\e94f";
}
.icon-Document-Repository-v2:before {
  content: "\e950";
}
.icon-Interdependency-Accelerator-v2:before {
  content: "\e951";
}
.icon-MA-Companion-App-v2:before {
  content: "\e952";
}
.icon-MA-Growth-Accelerator-v2:before {
  content: "\e953";
}
.icon-MA-Library-v2:before {
  content: "\e954";
}
.icon-Maturity-Assessment-v2:before {
  content: "\e955";
}
.icon-Operating-Model-Assessment-v2:before {
  content: "\e956";
}
.icon-Org-Design-Analytics-v2:before {
  content: "\e957";
}
.icon-Pipeline-Management-v2:before {
  content: "\e958";
}
.icon-Program-Management-v2:before {
  content: "\e959";
}
.icon-Prospector-v2:before {
  content: "\e95a";
}
.icon-Scenario-Planning-v2:before {
  content: "\e95b";
}
.icon-Site-Profile-Survey-v2:before {
  content: "\e95c";
}
.icon-Smart-Contract-v2:before {
  content: "\e95d";
}
.icon-Synergy-Estimator-Tool-v2:before {
  content: "\e95e";
}
.icon-Target-Screening-v2:before {
  content: "\e95f";
}
.icon-Total-Diligence-v2:before {
  content: "\e960";
}
.icon-Value-Capture-and-Synergy-v2:before {
  content: "\e961";
}
.icon-Virtual-Data-Room-v2:before {
  content: "\e962";
}
.icon-Visual-Decision-Accelerator-v2:before {
  content: "\e963";
}
.icon-Icon-Notifications:before {
  content: "\e964";
}
.icon-Icon-Help:before {
  content: "\e965";
}
.icon-Icon-Error:before {
  content: "\e966";
}
.icon-Cognitive-Blueprinting:before {
  content: "\e967";
}
.icon-Cognitive-Blueprinting-v2:before {
  content: "\e968";
}
.icon-Taxonomy-Builder:before {
  content: "\e969";
}
.icon-Taxonomy-Builder-v2:before {
  content: "\e96a";
}
.icon-Icon-User-Management-Outline:before {
  content: "\e96b";
}
.icon-Icon-Team-Outline:before {
  content: "\e96c";
}
.icon-Icon-Upload-Outline:before {
  content: "\e96d";
}
.icon-Icon-Settings-Outline:before {
  content: "\e96e";
}
.icon-Icon-Services--ases-Outline:before {
  content: "\e96f";
}
.icon-Icon-Radiobutton-Outline:before {
  content: "\e970";
}
.icon-Icon-Radiobutton-Fill:before {
  content: "\e971";
}
.icon-Icon-Owner-Outline:before {
  content: "\e972";
}
.icon-Icon-Notifications-Outline:before {
  content: "\e973";
}
.icon-Icon-Home-Outline:before {
  content: "\e974";
}
.icon-Icon-Help-Outline:before {
  content: "\e975";
}
.icon-Icon-Engagements-Outline:before {
  content: "\e976";
}
.icon-Icon-Email-Outline:before {
  content: "\e977";
}
.icon-Icon-Data-Lab-Outline:before {
  content: "\e978";
}
.icon-Icon-Data-Lab-Fill:before {
  content: "\e979";
}
.icon-Icon-Comment-Outline:before {
  content: "\e97a";
}
.icon-Icon-Arrows-Right:before {
  content: "\e97b";
}
.icon-Icon-Arrows-Left:before {
  content: "\e97c";
}
.icon-Icon-Arrow-Right:before {
  content: "\e97d";
}
.icon-Icon-Arrow-Left:before {
  content: "\e97e";
}
.icon-Icon-Settings-Fill:before {
  content: "\e97f";
}
.icon-Icon-Drop-Outline:before {
  content: "\e980";
}
.icon-Icon-Search-Outline:before {
  content: "\e981";
}
.icon-Icon-Download-Outline:before {
  content: "\e982";
}
.icon-Icon-Calendar-Outline:before {
  content: "\e983";
}
.icon-Icon-Plus-Outline:before {
  content: "\e984";
}
.icon-Icon-Drop-Turned-Outline:before {
  content: "\e985";
}
.icon-Icon-Hexagon-Fill:before {
  content: "\e986";
}
.icon-Icon-Hexagon-Outline:before {
  content: "\e987";
}
.icon-Icon-Legend-Outline:before {
  content: "\e988";
}
.icon-Icon-Duration-Outline:before {
  content: "\e989";
}
.icon-Icon-Chart-Outline:before {
  content: "\e98a";
}
.icon-Icon-Delete-Outline:before {
  content: "\e98b";
}
.icon-Icon-Arrow-Outline-Bold:before {
  content: "\e98c";
}
.icon-Icon-Synergy-Estimator-Tool:before {
  content: "\e98d";
}
.icon-Icon-Synergy-and-One-time-Cost-Benchmark:before {
  content: "\e98e";
}
.icon-Icon-Rationalized-IT-Application-Land:before {
  content: "\e98f";
}
.icon-Icon-Prospector-Analysis:before {
  content: "\e990";
}
.icon-Icon-Propensity-Analysis:before {
  content: "\e991";
}
.icon-Icon-Process-blueprinting-in-MA-Central:before {
  content: "\e992";
}
.icon-Icon-Integration-Separation-Workplans:before {
  content: "\e993";
}
.icon-Icon-Due-Diligence-Research:before {
  content: "\e994";
}
.icon-Icon-Change-Impact-Assessment:before {
  content: "\e995";
}
.icon-Icon-Open-Service-Outline:before {
  content: "\e996";
}
.icon-Icon-View-Visualizations:before {
  content: "\e997";
}
.icon-Icon-Reset-Filters-Outline:before {
  content: "\e998";
}
.icon-Icon-Reset-Filters-New-Outline:before {
  content: "\e999";
}
.icon-Icon-Chart-Outline1:before {
  content: "\e99a";
}
.icon-Icon-Star-Outline:before {
  content: "\e99b";
}
.icon-Icon-Add-Outline:before {
  content: "\e99c";
}
.icon-Icon-Pause-Outline:before {
  content: "\e99d";
}
.icon-Icon-Play-Outline:before {
  content: "\e99e";
}
.icon-Icon-Copy-Outline:before {
  content: "\e99f";
}
.icon-Icon-Gantt-hart-Outline:before {
  content: "\e9a0";
}
.icon-Icon-Table-View-Outline:before {
  content: "\e9a1";
}
.icon-Icon-Card-View-Outline:before {
  content: "\e9a2";
}
.icon-Icon-Check-Mark-Outline:before {
  content: "\e9a3";
}
.icon-Icon-Reset-Password-Outline:before {
  content: "\e9a4";
}
.icon-Icon-Change-Status-Fill:before {
  content: "\e9a5";
}
.icon-Icon-Assign-Role-Outline:before {
  content: "\e9a6";
}
.icon-Icon-UserLock-Outline:before {
  content: "\e9a7";
}
.icon-Icon-UnLock-Outline:before {
  content: "\e9a8";
}
.icon-Icon-Lock-Outline:before {
  content: "\e9a9";
}
.icon-Icon-Synergy-Estimator-Tool1:before {
  content: "\e9aa";
}
.icon-Icon-Synergy-and-One-time-Cost-Benchmark1:before {
  content: "\e9ab";
}
.icon-Icon-Rationalized-IT-Application-Land1:before {
  content: "\e9ac";
}
.icon-Icon-Prospector-Analysis1:before {
  content: "\e9ad";
}
.icon-Icon-Propensity-Analysis1:before {
  content: "\e9ae";
}
.icon-Icon-Process-blueprinting-in-MA-Central1:before {
  content: "\e9af";
}
.icon-Icon-Integration-Separation-Workplans1:before {
  content: "\e9b0";
}
.icon-Icon-Due-Diligence-Research1:before {
  content: "\e9b1";
}
.icon-Icon-Change-Impact-Assessment1:before {
  content: "\e9b2";
}
.icon-Icon-Zoom-In-Outline:before {
  content: "\e9b3";
}
.icon-Icon-Zoom-Out-Outline:before {
  content: "\e9b4";
}
.icon-Icon-Upvote-Outline:before {
  content: "\e9b5";
}
.icon-Icon-Downvote-Outline:before {
  content: "\e9b6";
}
