body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  &:visited, &:active {
    color: inherit;
  }
}

input {
  outline: none;
  border: none;
  box-shadow: none;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  outline: none;
  padding: 0;
}
