@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'),
  url('./assets/fonts/open-sans/woff2/OpenSans-Light.woff2') format('woff2'),
  url('./assets/fonts/open-sans/ttf/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
  url('./assets/fonts/open-sans/woff2/OpenSans-Regular.woff2') format('woff2'),
  url('./assets/fonts/open-sans/ttf/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'),
  url('./assets/fonts/open-sans/woff2/OpenSans-SemiBold.woff2') format('woff2'),
  url('./assets/fonts/open-sans/ttf/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans'),
  url('./assets/fonts/open-sans/woff2/OpenSans-Bold.woff2') format('woff2'),
  url('./assets/fonts/open-sans/ttf/OpenSans-Bold.ttf') format('truetype');
}
