<div class="roadmap-search">
  <span class="search-icon icon-search-special2"></span>
  <input type="text"
         name="search"
         placeholder="Search by opportunities & solutions"
         (input)="search($event.target.value)"
  >
</div>
