.roadmap-search {
  margin: 16px 24px;
  position: relative;
  .search-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
  }
  input[type=text] {
    width: 424px;
    border: 1px solid #D0D0CE;
    font-size: 14px;
    line-height: 24px;
    padding-left: 25px;
  }
}
